.NavCat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;

    .NavBtn {
        margin: 0;
    }

    .NavBtnBack {
        position: absolute;
        right: 2em;
    }
}