.card {
    line-height: 0.7;
    justify-content: flex-start;
    color: white;
    

    &-title {
        margin: 0.1em;
        white-space: nowrap;
    }
}
.freeTable {
    background-color: rgb(80, 80, 141);
}
.status-in-progress {
  background-color:  green; // Color for "In progress"
  border: none !important;
  }
  
  .status-cooking {
    background-color:  orange; // Color for "Cooking"
    border: none !important;
  }
  
  .status-waiting-payment {
    background-color:  rgb(237, 69, 69); // Color for "Waiting payment"
    border: none !important;
  }